# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia
4. Java Script
5. C
6. C++

**Objectives:**
+ Data Science Tools and Ecosystem
+ Popular languages used by Data Scientists
+ Commonly libraries used by Data Scientists

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit learn
6. Scipy

|# H6: Data Science Tools |
| -------------------|
| Jupyter Notebook |
| R Studio|
| Github|

# H3: Below are a few examples of evaluating arithmetic expressions in python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# H2 Author
L.L Aliyu